<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="primr.apps.eurakacachet.ryme.ryme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.view.MainActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.view.PublicTrackDisplayActivity"
            android:parentActivityName=".ui.view.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.ArtistProfileActivity"
            android:parentActivityName=".ui.view.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity
            android:name=".ui.view.ArtistTrackDisplayActivity"
            android:parentActivityName=".ui.view.ArtistProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.ArtistProfileActivity" />
        </activity>
        <activity android:name=".ui.view.ProfileArtistActivity" >
        </activity>
        <activity
            android:name=".ui.view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.view.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>
        <activity android:name=".ui.view.SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.view.WelcomeActivityFirst" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.view.RegisterActivity" >
        </activity>
        <activity android:name=".ui.view.LoginActivity" >
        </activity>
        <activity
            android:name=".ui.view.FollowCategoryActivity"
            android:label="@string/title_activity_follow_category"
            android:theme="@style/AppTheme" >
        </activity>

        <!-- SMS Receiver -->
        <receiver android:name=".utils.receivers.SmsReceiver" >
            <intent-filter android:priority="99999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.view.SplashActivity"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.services.OtpSenderService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
