<?xml version="1.0" encoding="utf-8"?>
<manifest package="primr.apps.eurakacachet.ryme.ryme"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".RymeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.view.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.view.trackDisplay.PublicTrackDisplayActivity"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.view.artist.profile.ArtistProfileActivity"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.view.artist.trackDisplay.ArtistTrackDisplayActivity"
            android:parentActivityName=".ui.view.artist.profile.ArtistProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.artist.profile.ArtistProfileActivity"/>
        </activity>
        <activity
            android:name=".ui.view.search.SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.view.signup.SignUpActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
        </activity>
        <activity
            android:name=".ui.view.verify_code.VerifyCodeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
        </activity>
        <activity
            android:name=".ui.view.signin.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
        </activity>
        <activity
            android:name=".ui.view.followCategory.FollowCategoryActivity"
            android:label="@string/title_activity_follow_category"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="ryme"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="track_id"/>
        </activity>
        <activity
            android:name=".ui.view.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="primr.apps.eurakacachet.ryme.ryme.ui.view.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.view.crop.CropImageActivity"
            android:label="@string/title_activity_crop_image"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="primr.apps.eurakacachet.ryme.ryme.ui.view.main.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.view.offline.trackDisplay.TrackDisplayActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.view.splash.WelcomeActivity"
            android:noHistory="true">
        </activity>

        <service
            android:name="org.vaslabs.smsradar.SmsRadarService"
            android:exported="false"
            android:label="@string/app_name"/>
        <service
            android:name=".utils.player.service.PCOfflineAudioPlayerService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".utils.player.service.PCOnlineAudioPlayerService"
            android:enabled="true"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="android.app.default_searchable"
            android:value="primr.apps.eurakacachet.ryme.ryme.ui.view.search.SearchableActivity"/>
        <!-- <meta-data -->
        <!-- android:name="io.branch.sdk.TestMode" -->
        <!-- android:value="true" /> -->
        <!-- <meta-data -->
        <!-- android:name="io.branch.sdk.BranchKey" -->
        <!-- android:value="key_live_ncnZj133Tqyj9j64Sp2VGfpbEumAhNpv" /> -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_ncnZj133Tqyj9j64Sp2VGfpbEumAhNpv"/>

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.view.offline.downloads.OfflineTrackListActivity"
            android:label="@string/title_activity_offline_track_list"
            android:parentActivityName=".ui.view.main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="primr.apps.eurakacachet.ryme.ryme.ui.view.main.MainActivity"/>
        </activity>
    </application>

</manifest>
